<!doctype html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <h1>API Documentation</h1>
        </header>

        <section>
            <p>The different call methods that can be used against the api is.</p>

            <ul>
                <li><a href="#authDoc">Auth</a></li>
                <li><a href="#registerDoc">Register</a></li>
                <li><a href="#equipmentDoc">Equipment</a></li>
                <li><a href="#bookingDoc">Booking</a></li>
                <li><a href="#JWTDoc">JWT Errors</a></li>
                <li><a href="#globalErrorsDoc">Global Errors</a></li>
            </ul>
        </section>

        <section>
            <%- include("auth"); %>
        </section>

        <section>
            <%- include("register"); %>
        </section>

        <section>
            <%- include("equipment"); %>
        </section>

        <section>
            <%- include("JWTErrors"); %>
        </section>

        <section>
            <%- include("globalErrors"); %>
        </section>
    </div>
    <footer>

    </footer>

<script type="text/javascript" src="/js/main.js"></script>
</body>
